<footer id="footer" >
    <h3  id="text"> Developed by:Sarthak</h3>
    <button id="btn">
        <a href="/">
            <h1>
                HOME
            </h1>

        </a>
    </button>
    
</footer>