<!-- <html>
    <head>
  <title>
 <%= title%>
  </title>        
    </head>
    <body> -->
      <link rel="stylesheet" href="/css/user_profile.css">
      
        <h1>codeial </h1>

    <!-- </body>
</html> -->