<!-- <html>
    <head>
        <title>
            <%title%>
        </title>
    </head>
    <body>
      <!-- <%- include('_header'); %> -->
        <h1> 
            users post are here(rendering from post.ejs in views)
        </h1>
       <!-- <%- include('_footer'); %>
    </body>
</html> -->