#codeial{
    color: whitesmoke;
    display: inline-flex;
    
    //padding-top: 5rem;
}
#SU{
    display: inline-flex;
    color: whitesmoke;
     //margin-left: 90%;
     
}
#SI{
    display: inline-flex;
    color: whitesmoke;
    // margin-left: 50%;
}
#sign-in{
    display: inline;
    // margin-left: 93%;

    

}
#sign-up{
display: inline;

}
#header{
    background-color:skyblue;
    //height: 10%;
    border: solid 3px darkblue;
}
#Aout{
 color: whitesmoke;
}
#Aname{
color: whitesmoke;
}
#btn-1{
    background-color: blue;
}
#btn-2{
    background-color: blue;
}

